body {
    background:#0b1220;
    color:#e5e7eb;
    font-family:Segoe UI;
}

.container { max-width:1300px; margin:auto; }

.header {
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.stats {
    display:flex;
    gap:20px;
    margin-bottom:20px;
}

.stat {
    flex:1;
    background:#111827;
    padding:20px;
    border-radius:8px;
    text-align:center;
}

.stat p { font-size:28px; margin-top:10px; }

.grid {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-bottom:20px;
}

.card {
    background:#111827;
    padding:20px;
    border-radius:8px;
    height: 260px;
}

.chart-box {
    position: relative;
    height: 180px;   /* doughnut size */
    width: 100%;
}

.table-container {
    background:#111827;
    border-radius:8px;
    overflow:hidden;
    margin: 50px 0;
}

table { width:100%; border-collapse:collapse; }

th,td { padding:12px; border-bottom:1px solid #1f2937; }

th { background:#020617; color:#9ca3af; }

tr:hover { background:#1f2937; }

.text-red { color:#ef4444; }
.text-green { color:#10b981; }

.btn {
  padding: 10px 15px;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  align-content: center;
  height: 40px;
  align-self: center;
}

