<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Firewall SOC</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<div class="container">

<div class="header">
    <h1>Firewall Security Operations Center</h1>
    <a href="/admin" class="btn btn-blue">Admin</a>
</div>

<div class="stats">
    <div class="stat">
        <h3>Total Events</h3>
        <p id="total">0</p>
    </div>
    <div class="stat">
        <h3>Blocked</h3>
        <p id="blocked" class="text-red">0</p>
    </div>
    <div class="stat">
        <h3>Allowed</h3>
        <p id="allowed" class="text-green">0</p>
    </div>
</div>

<div class="grid">
    <div class="card">
        <canvas id="protoChart"></canvas>
    </div>
    <div class="card">
        <canvas id="actionChart"></canvas>
    </div>
</div>

<div class="card" style="margin-bottom:20px;">
    <h3 style="margin-bottom:10px;">System Performance Monitor</h3>
    <canvas id="healthChart"></canvas>
</div>

<div class="table-container">
<table>
<thead>
<tr>
<th>Time</th><th>Source</th><th>Destination</th>
<th>Protocol</th><th>Action</th><th>Severity</th>
</tr>
</thead>
<tbody id="events"></tbody>
</table>
</div>

</div>

<script>
let protoChart, actionChart, healthChart;

async function refresh() {
    const stats = await fetch('/api/stats').then(r=>r.json());
    const events = await fetch('/api/events').then(r=>r.json());

    document.getElementById('total').innerText = events.length;

    let blocked = events.filter(e=>e.final_action.includes("BLOCK")).length;
    document.getElementById('blocked').innerText = blocked;
    document.getElementById('allowed').innerText = events.length - blocked;

    renderCharts(stats);
    renderTable(events);
}

function renderCharts(data) {

    if (!protoChart) {
        protoChart = new Chart(protoChartCtx = document.getElementById('protoChart'), {
            type:'doughnut',
            data:{labels:Object.keys(data.protocols),
            datasets:[{data:Object.values(data.protocols)}]}
        });
    } else {
        protoChart.data.labels = Object.keys(data.protocols);
        protoChart.data.datasets[0].data = Object.values(data.protocols);
        protoChart.update();
    }

    if (!actionChart) {
        actionChart = new Chart(document.getElementById('actionChart'), {
            type:'bar',
            data:{labels:Object.keys(data.actions),
            datasets:[{data:Object.values(data.actions)}]}
        });
    } else {
        actionChart.data.labels = Object.keys(data.actions);
        actionChart.data.datasets[0].data = Object.values(data.actions);
        actionChart.update();
    }
}

function renderTable(data) {
    const tbody = document.getElementById('events');
    tbody.innerHTML = '';

    data.forEach(e=>{
        tbody.innerHTML += `
        <tr>
        <td>${e.readable_time}</td>
        <td>${e.src_ip}</td>
        <td>${e.dst_ip}</td>
        <td>${e.proto}</td>
        <td class="${e.final_action.includes('BLOCK')?'text-red':'text-green'}">
            ${e.final_action}
        </td>
        <td>${e.severity}</td>
        </tr>`;
    });
}

async function loadMetrics() {
    const res = await fetch('/api/metrics');
    const data = await res.json();

    const labels = data.map(x => x.timestamp);
    const cpu = data.map(x => x.cpu);
    const memory = data.map(x => x.memory);
    const rate = data.map(x => x.packet_rate);

    if (!healthChart) {
        healthChart = new Chart(document.getElementById('healthChart'), {
            type: 'line',
            data: {
                labels: labels,
                datasets: [
                    { label: "CPU %", data: cpu, borderWidth: 2, fill:false },
                    { label: "Memory %", data: memory, borderWidth: 2, fill:false },
                    { label: "Packet Rate", data: rate, borderWidth: 2, fill:false }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });
    } else {
        healthChart.data.labels = labels;
        healthChart.data.datasets[0].data = cpu;
        healthChart.data.datasets[1].data = memory;
        healthChart.data.datasets[2].data = rate;
        healthChart.update();
    }
}

setInterval(() => {
    refresh();
    loadMetrics();
}, 2000);
refresh();
loadMetrics();
</script>
</body>
</html>

